/* LOG IN PAGE */
/*  */
.login-header { 
    display: flex;
    background-color:red;
    height: 10%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    flex-direction: column;
}
hr.hr-solid {
    border-top: 0.1rem solid #bbb;
    
}
.login {
    display: flex;
    
    justify-content: center;
    height: 90%;
    width: 100%;
    
}

#sign-in {
    font-size: 1rem;
    font-weight: bold;
    
}
.login-button {
    justify-content: center;
    background-color: black;
    width: 100%;
}
.button1 { 
    border-radius: 1rem;
    width: 100%;
    padding: 0.5rem;
    background-color: #1db954
    
    

}

.login-box {
    display: flex;
    justify-content: center;
    height: 415px;
    width: 500px;
    background-color: blue;
}
/* GLOBAL CSS */
html, body {
    margin:0;
    padding:0;
    background-color:white;
    height:100%;
    
}

:root {
    font-size:16px;
}


li {
    list-style-type: none;
    
}


* {
    font-family: "Figtree";
   
}

a {
    text-decoration: none;
    color:inherit;
}

a:focus {
    outline:0;
}