/* Main body of code */
main {
    display:flex;
    
    padding: 1.5rem;
    
    overflow: auto;
    background-color: rgb(18,18,18);
    border-radius:0.5rem;
    color:white;
    margin: 1rem 0.4rem 0.4rem 0em;
    height: 100%;
}

.fa-chevron-left { 
    
    border-radius:50%;
    padding:0.6rem;
    background-color:rgb(33,33,33);
    height:0.5rem;
    width:0.5rem;
    /* text-align: center; */
    align-items:center;
    vertical-align:middle;
    line-height:0.5rem;
}

.top-library {
    
    font-size: 1.1rem;
   
    display:flex;
    flex-wrap:wrap;
    /* gap:1rem; */
}

.top-box{ 
    display:flex;
    background-color:rgb(83,83,83,0.3);
    height: 4rem;
    border-radius:0.2rem;
    flex:1;
    border-radius:0.3rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    overflow:hidden;
}

.top-box:hover {
    background-color:rgb(83,83,83,0.5);
}
.flex-break-1 { 
    flex-basis:100%;
    height:0; 
}

.flex-break-2 {
    height:0;
}

@media (max-width: 1240px) { 
  
    .flex-break-1 { 
        flex-basis:0;
        width:0;
        
        
        
        
    }
    .flex-break-2 { 
        flex-basis:100%;
        height:0;
        
    }
    .playlist-card { 
        width:50%;
        color:red;
        /* flex-grow:1; */
        
        
        
    }
    .playlist-card:nth-last-child(-n+2) {
        display:none;
    }
}
   


@media (max-width: 830px) { 
    .playlist-card:nth-last-child(-n+4) {
        display:none;
    }
    .playlist-card {
        color:lightblue;
    }
}

.top-playlist-image { 
   /* height:inherit; */
   display:inline-block;
   /* width:4rem; */
}
.top-playlist-image img{
    max-width: 100%;
    height: 100%;
    
}
.top-playlist-text {
    display: flex;
    flex: 1;
    text-align:center;
    align-items: center;
    padding: 1rem;
}

.top-playlist-text span { 
   
    color:white;
}

.playlist-card-header {
    display:flex;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    line-height:1rem;
}
#header-1 {
    display: inline-block;

}
#header-1:hover {
    text-decoration:underline;
}

#header-2 {
    float: right;
    color:rgb(179,179,179);
    font-size:0.9rem;

}
#header-2:hover{
    text-decoration:underline;
}
.playlist-card-container {
    display:flex;
    gap:1.5rem;
    
   
}
.playlist-card { 
    
    display:flex;
    padding: 1rem;
    border-radius: 0.2rem;
    background-color:rgb(83,83,83,0.1);
    flex-direction:column;
    
    /* margin: 0 0.5rem 0 0.5rem; */
    
}
.playlist-card:hover { 
    background-color:rgb(83,83,83,0.3);

}
.playlist-card-image { 
   margin-bottom:0.5rem;
}
.playlist-card-image img{ 
    max-width: 100%;
    height: 100%;
    border-radius: 0.2rem;
    box-shadow: 0rem 0.5rem 1rem rgb(18,18,18);

}

.playlist-card-name {
    margin-bottom:0.5rem;
    font-size:1.1rem;
}

.playlist-card-description { 
    font-size:0.9rem;
    color:rgb(179,179,179);
}


/* This is the main side navigation bar css */

.navMain {
    background-color: rgb(18,18,18);
    margin:0.2em 0;
    color:rgb(179,179,179);
    display:flex;
    flex-direction:column;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    border-radius:0.5rem;
    height:100%;
    white-space:nowrap;
    
   

}
.search-icon {
    padding:0.6rem;
    width: 1rem;
    height:1rem;
    
   
    display:inline-block;
    text-align: center;
    vertical-align:middle;
    line-height:0.5rem;
}

.search-icon:hover { 
    border-radius:50%;
    background-color:rgb(33,33,33);
  
    
}


/* Target the parent(fa-ul) and then the child (a) */
 .navMain a:hover{ 
    color:white;
}

.navMain .fa-ul {
    justify-content:space-between;
    display:flex;
    flex-direction:row;
    margin-left:2.1rem;
}
.fa-ul .li-link {
    padding:0.5rem 0;
    display:inline-block;
}
.li-link {
    flex-direction: column;
}

.li-link span {
    line-height:0.5rem;
    text-align:center;
    
}

.dropdown {
    position: relative;
    
    
  }
ul {
    padding:0;
    margin:0;
}
.dropdown-action {
    display: flex;
    align-items: center; 
  }

.dropdown-action #recents {
    font-size:0.9rem;
}



.fa-caret-down {
    margin-left:1rem;
    margin-right:0.8rem;
}

.dropdown-menu li{
    padding: 0.8rem;
    font-size:0.9rem;
    color:rgb(194, 194, 194); 
}

/* Highlights the padding of dropdown-menu */
.dropdown-menu li:hover:not(#sort-by)  {
    background-color:rgb(83,83,83);
    box-shadow: inset 0 0 0 1rem rgb(83,83,83);
    background-clip:border-box;
    border-radius: 0.2rem;
    
}

.dropdown-menu #sort-by {
    font-size:0.7rem;
}
.dropdown-menu {
    display: none;
    list-style: none;
    margin: 0;
    border-radius: 0.2rem;
    position: absolute;
    background-color: rgb(33,33,33);
    box-shadow: -0.2rem 0.5rem 1rem black;
    margin-top:0.5rem;
    width:10rem;
    z-index: 1;
    padding:0.2rem;
  }

.dropdown-menu.active {
    display: block;
  }

.dropdown-menu a {
    display: block;
    
  }
/* Makes the '+' icon go the right of the container */
.plus-icon {
    display:inline-block;
}

/* Makes the '+' icon go the right of the container */
.fa-plus {
    
    padding:0.6rem;
    width: 1rem;
    height: 1rem;
    text-align: center;
    vertical-align: bottom;
}

.plus-icon .dropdown-menu li {
    color:white;

}
.plus-icon .dropdown-menu {
    width:14rem;
    
}

.plus-icon img{
    filter: invert(87%) sepia(89%) saturate(0%) hue-rotate(269deg) brightness(109%) contrast(97%);
    vertical-align:middle;
    margin-right:0.2rem;
}

.fa-plus:hover{
    border-radius:50%;
    
    background-color:rgb(33,33,33);
   

}
 

.fa-book-open{
  margin:0px;   
}

.li-link {
    margin:0;
    padding:0;
}





.text-bubble {
    
    color:white;
    overflow: hidden;
    display:flex;
    
    margin-top:1rem;
    
    
    
}

.text-bubble span {
    background-color:rgb(33,33,33);
    border-radius: 1rem;
    padding: 0.4rem;
    margin: 0.2rem;
    
}

/* CSS for nav bubble ... makes fa-caret-down go all the way to the right*/
.nav-bubble {
    margin-top:1rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
    
}
/* Stops links from changing color when hovering over */
.nav-bubble a:hover { 
    color: inherit;
    

}

.fa-caret-down {
    text-align:center;
    vertical-align:middle;
    line-height:0.5rem;
    float:right;
    
}
.recent-container {
    vertical-align:bottom;
    text-align:center;
    width:6rem;
    justify-content:space-around;
    line-height:0.5rem;
    display:inline-block;
    display:flex;
}

.recent-container:hover {
    color:white;
}



/* CSS for the playlist */


.playlist-content {
    width:auto;
    height:3.2rem;
    position:relative;
  
    border-radius:0.5rem;
    padding:0.5rem 0;
    
    
}

.playlist-content:hover {
    background-color: rgb(33,33,33);
}

/* Container for playlist image */
.playlist-image { 
    margin-left:0.5rem;
    display:inline-block;
    height:100%;
    
  
    
}
.playlist-image img {
    max-width:100%;
    max-height:100%;
    border-radius:0.5rem;
}

.playlist-text {
    display:inline-block;
    vertical-align:top;
    margin-top:0.3rem;
    margin-left:0.3rem;
    color:white;
}

#playlist-text-sub {
    font-size:0.8rem;
    color:rgb(179,179,179);
}

.nav-playlist-container {
    height: 100%;
    overflow-y: scroll;
    
}
::-webkit-scrollbar {
    background: rgb(179,179,179);
}
::-webkit-scrollbar-thumb {
    background: rgb(179,179,179, 0.3);
    border-radius:0.5rem;
}
::-webkit-scrollbar-track {
    background-color: rgb(18,18,18) ;
}
/* Below is the secondary navigation bar css */
#sideNav {
    background-color: rgb(18,18,18);
    margin:0rem;
    color:rgb(179,179,179);
    padding: 1rem 0rem 1rem 0rem;
    border-radius:0.5rem;
}

/* Margin at the bottom of the li except for the last one*/
#sideNav li:not(:last-child){
    margin-bottom:1.2rem;
}

#sideNav li:hover{
    color:white;
}


.container {
    margin:0 0 0.2em 0;

}



/* Below is the global css  */

.navbar {
    display:flex;
    flex-direction: column;
    width:30vw;
    margin: 0 0.4rem 0.4rem 0.4em;
    float:left;
    height:100%;
    
}

html, body {
    margin:0;
    padding:0;
    background-color:black;
    height:100%;
    
}

:root {
    font-size:16px;
}


li {
    list-style-type: none;
    
}


* {
    font-family: "Figtree";
   
}

a {
    text-decoration: none;
    color:inherit;
}

a:focus {
    outline:0;
}

