<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <!-- Right arrow icon in the header of main body -->
    <div class = "right-arrow">
        <a href="#"><i class="fa-solid fa-chevron-left"></i></a>
    </div>
    <h1>Good evening</h1>
    <div class="top-library">
            <div class="top-box">
                <div class="top-playlist-image">
                    <img src="./photos/index.jpeg" alt="Default playlist">
                </div>
                <div class="top-playlist-text">
                    <span>TigerBelly</span>
                </div>
            </div>
            <div class="top-box">
                <div class="top-playlist-image">
                    <img src="./photos/index.jpeg" alt="Default playlist">
                </div>
                <div class="top-playlist-text">
                    <span>TigerBelly</span>
                </div>
            </div>
            <div class="flex-break-2"></div>
            <div class="top-box">
                <div class="top-playlist-image">
                    <img src="./photos/index.jpeg" alt="Default playlist">
                </div>
                <div class="top-playlist-text">
                    <span>TigerBelly</span>
                </div>
            </div>
            <div class="flex-break-1"></div>
            <div class="top-box">
                <div class="top-playlist-image">
                    <img src="./photos/index.jpeg" alt="Default playlist">
                </div>
                <div class="top-playlist-text">
                    <span>TigerBelly</span>
                </div>
            </div>
            <div class="flex-break-2"></div>
            <div class="top-box">
                <div class="top-playlist-image">
                    <img src="./photos/index.jpeg" alt="Default playlist">
                </div>
                <div class="top-playlist-text">
                    <span>TigerBelly</span>
                </div>
            </div>
            <div class="top-box">
                <div class="top-playlist-image">
                    <img src="./photos/index.jpeg" alt="Default playlist">
                </div>
                <div class="top-playlist-text">
                    <span>TigerBelly</span>
                </div>
            </div>
    </div>
    <div class="main-page-header">
        <a href="#"><h2 id="header-1">Your Shows</h2></a>
        <a href="#"><span id="header-2">Show all</span></a>
    </div>
    
    <div class="playlist-card-container">
        <div class="playlist-card"> 
            <div class="playlist-card-image">
                <img src="./photos/index.jpeg" alt="Default playlist">
            </div>
            <div class="playlist-card-name">
                Tigerbelly

            </div>
            <div class="playlist-card-description">
                All Things Comedy
            </div>
        </div>

        <div class="playlist-card"> 
            <div class="playlist-card-image">
                <img src="./photos/index.jpeg" alt="Default playlist">
            </div>
            <div class="playlist-card-name">
                Tigerbelly

            </div>
            <div class="playlist-card-description">
                All Things Comedy
            </div>
        </div>

        <div class="playlist-card"> 
            <div class="playlist-card-image">
                <img src="./photos/index.jpeg" alt="Default playlist">
            </div>
            <div class="playlist-card-name">
                Tigerbelly

            </div>
            <div class="playlist-card-description">
                All Things Comedy
            </div>
        </div>
        
        <div class="playlist-card"> 
            <div class="playlist-card-image">
                <img src="./photos/index.jpeg" alt="Default playlist">
            </div>
            <div class="playlist-card-name">
                Tigerbelly

            </div>
            <div class="playlist-card-description">
                All Things Comedy
            </div>
        </div>

        <div class="playlist-card"> 
            <div class="playlist-card-image">
                <img src="./photos/index.jpeg" alt="Default playlist">
            </div>
            <div class="playlist-card-name">
                Tigerbelly

            </div>
            <div class="playlist-card-description">
                All Things Comedy
            </div>
        </div>

        <div class="playlist-card"> 
            <div class="playlist-card-image">
                <img src="./photos/index.jpeg" alt="Default playlist">
            </div>
            <div class="playlist-card-name">
                Tigerbelly

            </div>
            <div class="playlist-card-description">
                All Things Comedy
            </div>
        </div>
    </div>
</body>
</html>