<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <!-- Right arrow icon in the header of main body -->
    <div class = "right-arrow">
        <a href="#"><i class="fa-solid fa-chevron-left"></i></a>
    </div>
    <h1>Good evening</h1>
    <div class="top-library">
            <div class="top-box">Tigerbelly</div>
            <div class="top-box">Liked Songs</div>
            <div class="flex-break-2"></div>
            <div class="top-box">Stray Kids</div>
            <div class="flex-break-1"></div>
            <div class="top-box">Tigerbelly</div>
            <div class="flex-break-2"></div>
            <div class="top-box">Liked Songs</div>
            <div class="top-box">Stray Kids</div>
    </div>
</body>
</html>